<div class="signin-page-container">
    <h1 class="login-text">LOGIN PAGE</h1>
    <mat-card>
        <mat-card-content>
            <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td class="box"> 
                            <span>Username: </span>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="box">
                            <span>Password: </span>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" [(ngModel)]="password" type="password"
                                    name="password" required>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
        </mat-card-content>
        <mat-card-actions class="login_btn">
            <button mat-raised-button (click)="login()" color="primary">Login</button>
        </mat-card-actions>
    </mat-card>
</div>