.signin-page-container {
    background-color: #d9d8fe75;
    border: 3px solid #bebcfa75;
    border-radius: 10px;
    color: black;
    margin-left: 3px;
    font-family: 'Hind', sans-serif;
    min-height: 900px;
    position: relative;
}

.signin-page-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./../../assets/_c096eb23-86ef-40c7-b762-291c2e4ce0ff.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    opacity: 0.2;
}

mat-card {
    max-width: 600px;
    margin: 10px auto;
    margin-top: -40px;
    text-align: center;
    max-height: 600px;
    border: 5px solid #d7d5d5;
    border-radius: 10px;
}

.login-text {
    margin-top: 30px;
    font-family: 'Hind', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    position: relative;
    z-index: 1;
}

.login-text-description{
    position: relative;
    z-index: 1;
    
}

.header {
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
}

.full-width {
    width: 80%;
}

.button-row {
    padding-top: 5px;
    font-family: 'Hind', sans-serif;
}

.button-row a {
    margin-right: 8px;
    text-align: center;
}

.forget-password {
    padding-left: 0px;
}

.emailInput {
    padding-top: 10px;
}

.contentBody {
    padding: 60px 1rem;
    background: #1b6ca8;
    display: block;
}

.aLink {
    float: right;
    padding-right: 60px;
    text-decoration: none;
    font-family: 'Hind', sans-serif;
}

.text {
    font-family: 'Hind', sans-serif;
    font-weight: bold;
}

.button-row button {
    border: 3px solid #ccd4a4;
    background-color: blanchedalmond;
    border-radius: 10px;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    font-size: medium;
    width: 150px;
}