.mat-elevation-z7 {
    background-color: rgba(242, 255, 201, 0.71);
    border: 3px solid rgba(223, 249, 139, 0.71);
    border-radius: 10px;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
    box-shadow: none;
}

.title-text {
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    color: black
}

.example-spacer {
    flex: 1 1 auto;
}

.button-action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    /* Adjust width of the toolbar buttons container */
}

.toolbar-button {
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    font-size: large;
    width: fit-content;
    height: 45px;
    border: 3px solid #ccd4a4;
    border-radius: 10px;
    background-color: blanchedalmond;
}

.toolbar-item {
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    color: black;
    font-weight: bold;
    align-items: center;
    margin-top: 3px;
}

.menu-text {
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.mat-toolbar-row {
    font-family: 'Hind', sans-serif;
    width: 100%;
    /* Ensure the toolbar row spans the full width */
}

.centered-items {
    border: 3px solid #bebcfa75;
    border-radius: 10px;
    color: black;
    margin-left: 2px;
    background-color: #bebcfa75;
}

.centered-list-item {
    /* Allow the button to shrink if needed */
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 40px;
    cursor: pointer;
    width: 85%;
    margin-left: 16.5px;
    margin-right: 20px;
    margin-top: 20px;
    border: 3px solid rgba(9, 89, 138, 0.41);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 2px 2px rgba(16, 152, 236, 0.2);
    transition: background-color 1s ease;
    background-color: rgba(255, 255, 231, 0.7);
}

.icon-image {
    flex: 1;
    /* margin-left: 5px; */
}

.item-label {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    display: flex;
    margin-top: -28.6px;
    margin-left: 40px;
    align-items: center;
}

.centered-list-item:hover {
    background-color: #ccd4a4;
}

.notification_drawer {
    width: 270px;
    background-color: #bebcfa75;
    padding: 20px;
}

.tips-card {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    border: 3px solid rgba(9, 89, 138, 0.41);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 2px 2px rgba(16, 152, 236, 0.2);
    margin-top: 20px;
}