.mat-elevation-z7 {
    font-family: 'Ubuntu', sans-serif;
    background-color: #c1d8f0;
}

.title-text{
    color: black
}

.example-spacer {
    flex: 1 1 auto;
}

.toolbar-button {
    font-family: 'Ubuntu', sans-serif;
    flex: 1;
    margin: 0 5px;
    /* Adjust margin as needed for spacing between buttons */
    min-width: 0;
    /* Allow the button to shrink if needed */
    border-radius: 15px;
    background-color: #bb9966;
}

.toolbar-item{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

.menu-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}


.button-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    /* Adjust width of the toolbar buttons container */
}

.mat-toolbar-row {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    /* Ensure the toolbar row spans the full width */
}


.centered-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-list-item {
    display: flex;
    align-items: center;
    padding: 30px;
    /* Adjust padding as needed */
    cursor: pointer;
    /* Show pointer cursor on hover */
    width: 100%;
    /* Adjust width as needed */
    margin: 5px auto;
    /* Add margin for spacing */
    transition: background-color 0.3s ease;
}

.centered-list-item:hover{
    background-color: #c1d8f0;
}

.centered-list-item button {
    margin-right: 1px;
    /* Adjust margin between icon and label */
}

.item-label {
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
    /* Allow the label to take available space */
}

