<!--Top navbar-->
<mat-toolbar class="mat-elevation-z7">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="title-text ">Monitoring website</span>
    <span class="example-spacer"></span>

    <!--toolbar buttons-->
    <div class="button-action">

        <!--Contact button-->
        <button mat-raised-button class="toolbar-button" (click)="notif.toggle()">
            <div class="toolbar-item">Tips for Optimal Growth</div>
            <mat-icon>notification_important</mat-icon>
        </button>
    </div>
</mat-toolbar>


<!--Side navbar-->
<mat-drawer-container autosize="">
    <!---side: Sidenav floats over the primary content, which is covered by a backdrop 
        - over: Sidenav pushes the primary content out of its way, also covering it with a backdrop
        - push: Sidenav appears side-by-side with the main content, shrinking the main content's width to make space for the sidenav-->
    <mat-drawer #drawer opened="true" mode="side" position="start" class="centered-items">
        <div>
            <mat-nav-list>
                <ng-container *ngIf="this.auth.isAuthenticated() === 'adminAuthenticated'; then adminAuthenticated else 
                   (auth.isAuthenticated() === 'userAuthenticated' ? userAuthenticated : notAuthenticated)">
                </ng-container>

                <ng-template #notAuthenticated>
                    <mat-list-item routerLink="/home" class="centered-list-item">
                        <mat-icon class="icon-image">home</mat-icon>
                        <div class="item-label">Home</div>
                    </mat-list-item>
                </ng-template>

                <ng-template #adminAuthenticated>
                    <mat-list-item routerLink="/sensors" class="centered-list-item">
                        <mat-icon class="icon-image">important_devices class="icon-image"</mat-icon>
                        <div class="item-label">Sensors</div>
                    </mat-list-item>

                    <mat-list-item routerLink="/analysis" class="centered-list-item">
                        <mat-icon class="icon-image">assessment</mat-icon>
                        <div class="item-label">Analysis</div>
                    </mat-list-item>

                    <mat-list-item routerLink="/settings" class="centered-list-item">
                        <mat-icon class="icon-image">settings</mat-icon>
                        <div class="item-label">Chat</div>
                    </mat-list-item>

                    <mat-list-item routerLink="/smart-lookup" class="centered-list-item">
                        <mat-icon class="icon-image">extension</mat-icon>
                        <div class="item-label">AI Lookup</div>
                    </mat-list-item>
                </ng-template>

                <ng-template #userAuthenticated>
                    <mat-list-item routerLink="/dashboard" class="centered-list-item">
                        <mat-icon class="icon-image">dashboard</mat-icon>
                        <div class="item-label">Dashboard</div>
                    </mat-list-item>

                    <mat-list-item routerLink="/sensors" class="centered-list-item">
                        <mat-icon class="icon-image">important_devices class="icon-image"</mat-icon>
                        <div class="item-label">Sensors</div>
                    </mat-list-item>

                    <mat-list-item routerLink="/analysis" class="centered-list-item">
                        <mat-icon class="icon-image">assessment</mat-icon>
                        <div class="item-label">Analysis</div>
                    </mat-list-item>

                    <mat-list-item routerLink="/user_profile" class="centered-list-item">
                        <mat-icon class="icon-image">person</mat-icon>
                        <div class="item-label">User Profile</div>
                    </mat-list-item>

                    <mat-list-item routerLink="/settings" class="centered-list-item">
                        <mat-icon class="icon-image">settings</mat-icon>
                        <div class="item-label">Chat</div>
                    </mat-list-item>

                    <mat-list-item routerLink="/smart-lookup" class="centered-list-item">
                        <mat-icon class="icon-image">extension</mat-icon>
                        <div class="item-label">AI Lookup</div>
                    </mat-list-item>
                </ng-template>
            </mat-nav-list>
        </div>
    </mat-drawer>

    <!--Drawer for Notifications-->
    <mat-drawer #notif opened="false" mode="side" position="end" class="notification_drawer"
        style="transform: none;visibility: visible;border-radius: 10px; margin-left: 10px;">
        <div>
            Tips are based on
            <a
                href="https://nguyentan.vn/blogs/goc-ky-thuat/ky-thuat-trong-va-cham-soc-cay-sau-rieng#:~:text=Kho%E1%BA%A3ng%20nhi%E1%BB%87t%20%C4%91%E1%BB%99%20th%C3%ADch%20h%E1%BB%A3p,%E1%BA%A9m%20%C4%91%E1%BB%99%2050%20%E2%80%93%2060%25.&text=%2D%20Gi%E1%BB%91ng%20tr%E1%BB%93ng%20ph%E1%BB%95%20bi%E1%BA%BFn%20hi%E1%BB%87n,Ri%206%2C%20Monthong%2C%20Musangking." target="_blank">this
                link</a>
            <mat-card class="tips-card">
                <mat-card-content>
                    Stage 1: Young Tree
                    <mat-list-item>
                        Temperature: 24 - 30 °C
                    </mat-list-item>
                    <mat-list-item>
                        Soil Moisture: 65 - 80 %
                    </mat-list-item>
                </mat-card-content>
            </mat-card>

            <mat-card class="tips-card">
                <mat-card-content>
                    Stage 2: First Flowering
                    <mat-list-item>
                        Temperature: 24 - 30 °C
                    </mat-list-item>
                    <mat-list-item>
                        Soil Moisture: 65 - 80 %
                    </mat-list-item>
                </mat-card-content>
            </mat-card>

            <mat-card class="tips-card">
                <mat-card-content>
                    Stage 3: Fruit Bearing
                    <mat-list-item>
                        Temperature: 24 - 30 °C
                    </mat-list-item>
                    <mat-list-item>
                        Soil Moisture: 70 - 90 %
                    </mat-list-item>
                </mat-card-content>
            </mat-card>

            <mat-card class="tips-card">
                <mat-card-content>
                    Stage 4: Fruit Ripening
                    <mat-list-item>
                        Temperature: 20 - 22 °C
                    </mat-list-item>
                    <mat-list-item>
                        Soil Moisture: 50 - 60 %
                    </mat-list-item>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-drawer>

    <mat-drawer-content>
        <div style="text-align: center; min-height: 900px; margin-right: 2px;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>