.page-container {
    background-color: #d9d8fe75;
    border: 3px solid #bebcfa75;
    border-radius: 10px;
    color: black;
    margin-left: 3px;
    min-height: 900px;
    position: relative;
}

.push-right {
    margin-left: 90%;
}

.btn-primary {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.person {
    font-style: italic;
    font-weight: bold;
    color: purple;
}

.bot {
    font-weight: bold;
    color: darkgreen;
}

.frame-box {
    border: dotted 2px orange;
    padding: 20px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}


.padding {
    padding: 5px;
}