<div class="left-container">
    <div class="left-container-navbar">
        <div class="search-icon"><fa-icon class="fa-xs" [icon]="faMagnifyingGlass"></fa-icon></div>
        <div class="search-input"><input type="text" placeholder="Search for places..."></div>
        <div class="location-icon"><fa-icon class="fa-xs" [icon]="faLocation"></fa-icon></div>
    </div>

    <div class="left-container-databox">
        <div class="left-container-temp-data">
            <div class="left-container-temp-image">
                <img src={{this.weatherService.temperatureData.summaryImage}} alt="summaryImage">
            </div>
            <div class="left-container-temp-value">
                {{this.weatherService.celsius == true ? this.weatherService.temperatureData.temperature :
                this.weatherService.celsiusToFahrenheit(this.weatherService.temperatureData.temperature)}}<span>{{this.weatherService.celsius
                    == true ? "°C" : "°F" }}</span>
            </div>
            <div class="left-container-day-time">
                {{this.weatherService.temperatureData.day}}, <span>{{this.weatherService.temperatureData.time}}</span>
            </div>
        </div>

        <div class="dividing-line"></div>

        <div class="left-container-other-details">
            <div class="left-container-temp-summary">
                <div class="left-container-temp-summary-phrase-image"><fa-icon class="fa-xs" [icon]="faCloud"></fa-icon>
                </div>
                <div class="left-container-temp-summary-value">{{this.weatherService.temperatureData.summaryPhrase}}
                </div>
            </div>
            <div class="left-container-cloud-status">
                <div class="left-container-cloud-status-image">
                    <fa-icon class="fa-xs" [icon]="faCloudRain"></fa-icon>
                </div>
                <div class="left-container-cloud-status-value">
                    Rain - {{this.weatherService.temperatureData.rainPercent}}
                </div>
            </div>
            <div class="left-container-location-details">
                <div class="left-container-location-image">
                    <img src="./../../assets/TP.HCM.png" alt="">
                </div>
                <div class="left-container-location-name">{{this.weatherService.temperatureData.location}}
                </div>
            </div>
        </div>
    </div>