<div class="left-container">
    <div class="left-container-navbar">
        <div class="search-icon"><fa-icon class="fa-xs" [icon]="faMagnifyingGlass"></fa-icon></div>
        <div class="search-input"><input type="text" placeholder="Search for places..."></div>
        <div class="location-icon"><fa-icon class="fa-xs" [icon]="faLocation"></fa-icon></div>
    </div>
    <div class="left-container-databox">
        <div class="left-container-temp-data">
            <div class="left-container-temp-image">
                <img src="./../../assets/Weather conditions/Sunny.png" alt="">
            </div>
            <div class="left-container-temp-value">
                12<sup>°C</sup>
            </div>
            <div class="left-container-day-time">
                Sunday, <span>12:00</span>
            </div>
        </div>

        <div class="dividing-line">

        </div>

        <div class="left-container-other-details">
            <div class="left-container-temp-summary">
                <div class="left-container-temp-summary-phrase-image"><fa-icon class="fa-xs" [icon]="faSun"></fa-icon></div>
                <div class="left-container-temp-summary-value">Mostly Sunny</div>
            </div>
            <div class="left-container-cloud-status">
                <div class="left-container-cloud-status-image">
                    <fa-icon class="fa-xs" [icon]="faCloud"></fa-icon>
                </div>
                <div class="left-container-cloud-status-value">
                    Cloud - 70%
                </div>
            </div>
            <div class="left-container-location-details">
                <div class="left-container-location-image">
                    <img src="./../../assets/TP.HCM.png" alt="">
                </div>
                <div class="left-container-location-name">HCMC, Vietnam</div>
            </div>
        </div>
    </div>
</div>