<div class="analysis-container">
    <h1 class="title">Statistical Data</h1>
    <mat-tab-group class="tabs" animationDuration="1000ms">
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="custom-tab-label">Data History</span>
            </ng-template>

            <div class="card-container">
                <!-- Card for Temperature -->
                <mat-card class="statistical-card">
                    <mat-card-header class="card-header">
                        <mat-card-title>
                            <div class="data-title">Temperature</div>
                        </mat-card-title>
                    </mat-card-header>
                    <div class="chart-container" [chart]="lineChart1">
                    </div>
                </mat-card>

                <!-- Card for Humidity -->
                <mat-card class="statistical-card">
                    <mat-card-header class="card-header">
                        <mat-card-title>
                            <div class="data-title">Humidity</div>
                        </mat-card-title>
                    </mat-card-header>
                    <div class="chart-container" [chart]="lineChart2">
                    </div>
                </mat-card>

                <!-- Card for Illuminance -->
                <mat-card class="statistical-card">
                    <mat-card-header class="card-header">
                        <mat-card-title>
                            <div class="data-title">Illuminance</div>
                        </mat-card-title>
                    </mat-card-header>
                    <div class="chart-container" [chart]="lineChart3">
                    </div>
                </mat-card>

                <!-- Card for Soil Temperature -->
                <mat-card class="statistical-card">
                    <mat-card-header class="card-header">
                        <mat-card-title>
                            <div class="data-title">Soil Temperature</div>
                        </mat-card-title>
                    </mat-card-header>
                    <div class="chart-container" [chart]="lineChart4">
                    </div>
                </mat-card>

                <!-- Card for Moisture -->
                <mat-card class="statistical-card">
                    <mat-card-header class="card-header">
                        <mat-card-title>
                            <div class="data-title">Soil Moisture</div>
                        </mat-card-title>
                    </mat-card-header>
                    <div class="chart-container" [chart]="lineChart5">
                    </div>
                </mat-card>

                <!-- Card for EC -->
                <mat-card class="statistical-card">
                    <mat-card-header class="card-header">
                        <mat-card-title>
                            <div class="data-title">Soil Electrical Conductivity</div>
                        </mat-card-title>
                    </mat-card-header>
                    <div class="chart-container" [chart]="lineChart6">
                    </div>
                </mat-card>
            </div>
            <div class="export-button-container">
                <button (click)="downloadCSV()">Export Excel File</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>