.analysis-container {
    background-color: #d9d8fe75;
    border: 3px solid #bebcfa75;
    border-radius: 10px;
    color: black;
    margin-left: 3px;
    font-family: 'Hind', sans-serif;
    min-height: 900px;
}

.title {
    font-family: 'Hind', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    position: relative;
    z-index: 1;
}

.tabs {
    margin: 50px;
    margin-top: -50px;
    /* border: 5px solid #cecdeb75; */
    border-radius: 5px;
    /* background-color: #a9dbff5a; */
    position: relative;
    z-index: 1;
}

.custom-tab-label {
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Hind', sans-serif;
    color: rgb(0, 0, 22);
}

.statistical-card {
    display: flex;
    flex-direction: row;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    flex: 1 1 calc(25% - 20px);
    height: 380px;
    margin: 50px;
    margin-top: 50px;
    border: 1px solid #C8C8C8;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 1.5px 1.5px #C8C8C8;
}

.card-header {
    justify-content: center;
    background-color: #FBEEC1;
    margin-top: -350px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 2px;
    width: 34%;
    box-shadow: 0px 0px 2px 2px rgba(52, 63, 69, 0.2);
    border: 3px solid #d5b540;
    border-radius: 10px;
}

.data-title {
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Hind', sans-serif;
    color: rgb(0, 0, 0);
}

.statistical-numbers{
    display: flex;
    text-align: left;
}

.chart-container {
    margin-top: 10px;
    margin-bottom: -10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 320px;
    position: relative;
    z-index: 1;
}

.export-button-container {
    display: flex;
    justify-content: center;
}

.export-button-container button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px #999;
    transition: background-color 0.3s ease;
}

.export-button-container button:hover {
    background-color: #45a049;
}

.export-button-container button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}