.grid-container {
  margin: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.dashboard-title{
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.card-title-text{
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}

.menu-item-text {
  font-family: 'Ubuntu', sans-serif;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
