.home-container {
    background-color: #d9d8fe75;
    border: 3px solid #bebcfa75;
    border-radius: 10px;
    color: black;
    margin-left: 3px;
    font-family: 'Hind', sans-serif;
    min-height: 900px;
    position: relative;
}

.home-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./../../assets/_c096eb23-86ef-40c7-b762-291c2e4ce0ff.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    opacity: 0.2;
}

.title {
    margin-top: 75px;
    font-family: 'Hind', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    position: relative;
    z-index: 1;
}

.content-text {
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 60px;
    position: relative;
    z-index: 1;
}

.button {
    margin-top: 20px;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    font-size: medium;
    width: 150px;
    border: 3px solid #ccd4a4;
    border-radius: 10px;
    background-color: blanchedalmond;
}

.content-text-contact {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    z-index: 1;
}