<div class="home-container">
    <div class="title">Welcome to the dasboard monitor</div>

    <div class="content-text">If you have an account, please click the button below</div>
    <button routerLink="/signin" mat-raised-button class="button">Sign In here</button>

    <div class="content-text">Do you want to monitor your farm? Contact us for more information</div>
    <div class="content-text-contact">
        <div class="email">
            Email: tructam2992&#64;gmail.com --
        </div>
        <div class="phone-number">
            -- Tel: 0903210902
        </div>
    </div>
</div>