<div class="userprofile-container">
    <h1 class="title">User Profile</h1>
    <div class="userprofile-content">
        <mat-card class="left-card">
            <mat-card-header class="left-card-header">
                <img [src]="userAvatar || './../../assets/Thanh_Tam.jpg'" alt="user-avatar">
            </mat-card-header>

            <mat-card-content class="card-content">
                <label for="avatar-upload" class="btn-change-avatar">
                    Choose
                </label>
                <input type="file" id="avatar-upload" (change)="onFileSelected($event)" style="display: none;">
                <div class="user-fullname">
                    Võ Thanh Tâm
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="right-card">
            <mat-card-header class="right-card-header">
                <div class="right-card-title">
                    Edit your profile
                </div>
            </mat-card-header>

            <mat-card-content class="right-card-content">
                <div class="forms-container">
                    <form class="form" (ngSubmit)="updateUserProfile()">
                        <!-- Form fields for the first row -->
                        <mat-form-field appearance="fill" class="form-field-username">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Username" [(ngModel)]="username" name="username">
                        </mat-form-field>
                            <div class = "firstlast">
                        <!-- Form fields for the second row -->
                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" [(ngModel)]="firstName" name="firstName">
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" [(ngModel)]="lastName" name="lastName">
                        </mat-form-field>
                            </div>
                        <!-- Form fields for the third row -->
                        <mat-form-field appearance="fill" class="form-field-address">
                            <mat-label>Address</mat-label>
                            <input matInput placeholder="Address" [(ngModel)]="address" name="address">
                        </mat-form-field>

                        <!-- Form fields for the fourth row -->
                        <mat-form-field appearance="fill" class="form-field-phase">
                            <mat-label>Current phase of your farm</mat-label>
                            <input matInput placeholder="Current phase" [(ngModel)]="currentPhase" name="currentPhase">
                        </mat-form-field>

                        <!-- Button to update profile -->
                        <button class="btn-update-profile" type="submit">Update Profile</button>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
