.chatting-container {
    background-color: #d9d8fe75;
    border: 3px solid #bebcfa75;
    border-radius: 10px;
    color: black;
    margin-left: 3px;
    font-family: 'Hind', sans-serif;
    min-height: 900px;
    padding: 50px 50px;
    overflow: hidden;
}

.user-list-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    height: calc(100vh - 100px);
}

.user-list-card .user-card {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.user-list-card .user-card.active {
    background-color: #EDEDED;
}

.user-list-card .user-card .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px 20px 10px 20px;
}

.user-list-card .user-card .username {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-list-card .user-card:not(:last-child) {
    border-bottom: 1px solid #bbbbbb;
}

.chat-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    height: calc(100vh - 100px);
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
        padding-bottom: 50px; /* Đổi padding-bottom thành giá trị phù hợp */

}

.chat-container .chat-header {
    height: 70px;
    background-color: #EDEDED;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.chat-container .chat-header .avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 20px;
}

.btn-primary {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.chat-container .chat-header .username {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container .chat-body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100% - 80px); /* Đổi height thành 100% trừ đi chiều cao của chat header và chat footer */
    padding: 30px;
    overflow-y: auto;
}

.chat-container .chat-body .message-container {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    max-width: 90%;
    margin-bottom: 1px;
}

.chat-container .chat-body .same-user {
    display: flex;
    justify-content: flex-end;
}

.chat-container .chat-body .same-user .message-container {
    background-color: lightskyblue;
}

.chat-container .chat-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EDEDED;
    padding: 10px 20px;
}

.chat-container .chat-footer .form-control {
    background-color: white;
    border: 1px solid #D8DDEC;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 1rem;
    color: black;
}